<!doctype html>
<head>
  <title>client</title>
  <script src="http://<%= site_host %>:8001/socket.io/socket.io.js"></script>
  <%= stylesheet_link_tag "normalize", "bootstrap", "all" %>
  <%= javascript_include_tag  "pages/#{page_classes}" %>
</head>
<body class="<%= page_classes %>">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
